      <header class="menu-megadrop">
         <div class="menu-megadrop__contact-bar full-width">
            <div class="menu-megadrop__contact-bar-container container hiddenSearch">
               <div class="portlet-boundary portlet-boundary_com_vass_pelayo_custom_phone_CustomPhone_  portlet-static portlet-static-end portlet-barebone  " id="p_p_id_com_vass_pelayo_custom_phone_CustomPhone_INSTANCE_pelayophoneheader_" >
                  <span id="p_com_vass_pelayo_custom_phone_CustomPhone_INSTANCE_pelayophoneheader"></span>
                  <section class="portlet" id="portlet_com_vass_pelayo_custom_phone_CustomPhone_INSTANCE_pelayophoneheader">
                     <div class="portlet-content">
                        <div class=" portlet-content-container" >
                           <div class="portlet-body">
                              <a type="button" href="tel:91 520 05 61" title="91 520 05 61" class="noHover menu-megadrop__contact-button menu-megadrop__contact-button--phone h4">
                              <span>
                              <span class="icon-s icon-phone menu-megadrop__phone-icon" aria-label="tel&eacute;fono"></span>
                              <span class="menu-megadrop__phone-number">91 520 05 61</span>
                              </span>
                              </a>
                           </div>
                        </div>
                     </div>
                  </section>
               </div>
               <div class="menu-megadrop__corporative-list">
                  <div class="portlet-boundary portlet-boundary_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_  portlet-static portlet-static-end portlet-barebone portlet-navigation " id="p_p_id_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_INSTANCE_headerlinksnavigation_" >
                     <span id="p_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_INSTANCE_headerlinksnavigation"></span>
                     <section class="portlet" id="portlet_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_INSTANCE_headerlinksnavigation">
                        <div class="portlet-content">
                           <div class=" portlet-content-container" >
                              <div class="portlet-body">
                                 <ul class="menu-megadrop__corporative-list">
                                    <li class="menu-megadrop__corporative-item" id="layout_182">
                                       <a class="menu-megadrop__corporative-link h6"
                                          href="https://www.grupopelayo.com"
                                          target="_blank"
                                          title="Ir a Información corporativa"
                                          >
                                       Información corporativa
                                       </a>
                                    </li>
                                    <li class="menu-megadrop__corporative-item" id="layout_183">
                                       <a class="menu-megadrop__corporative-link h6"
                                          href="https://www.grupopelayo.com/compromiso-social/fundacion-pelayo"
                                          target="_blank"
                                          title="Ir a Fundación Pelayo"
                                          >
                                       Fundación Pelayo
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </section>
                  </div>
               </div>
               <div class="menu-megadrop__login-user">
                  <div class="portlet-boundary portlet-boundary_com_liferay_journal_content_web_portlet_JournalContentPortlet_  portlet-static portlet-static-end portlet-barebone portlet-journal-content " id="p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_pelayologin_" >
                     <span id="p_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_pelayologin"></span>
                     <section class="portlet" id="portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_pelayologin">
                        <div class="portlet-content">
                           <div class=" portlet-content-container" >
                              <div class="portlet-body">
                                 <div class="text-right user-tool-asset-addon-entries">
                                 </div>
                                 <div class="pull-right visible-interaction">
                                 </div>
                                 <div class="journal-content-article">
                                    <div class="journal-content-article">
                                       <a href="/login" target="_top" title="Ir a login oficina internet">
                                       <span>
                                       <span class="icon-s icon-user menu-megadrop__user-icon" aria-label="Login área clientes"></span><span class="menu-megadrop__login-label">
                                       Área Clientes
                                       </span>
                                       </span>
                                       </a>
                                    </div>
                                 </div>
                                 <div class="content-metadata-asset-addon-entries">
                                 </div>
                                 <script>Liferay.Analytics.track('view', { className: 'com.liferay.journal.model.JournalArticle', classPK: '10881055', referrers: [{referrerClassName: 'com.liferay.content.targeting.model.UserSegment', referrerClassPKs: ''}]});</script>
                              </div>
                           </div>
                        </div>
                     </section>
                  </div>
               </div>
               <button type="button" aria-label="abrir / cerar menu" class="menu-megadrop__contact-button menu-megadrop__contact-button--menu menu-button h4">
               <span class="icon-s icon-cross menu-megadrop__cross-icon menu__cross-icon" aria-label="Cerrar Menú"></span>
               <span class="icon-s icon-burguer menu-megadrop__burguer-icon menu__burguer-icon" aria-label="Abrir Menú"></span>
               </button>
            </div>
         </div>
         <div class="menu-megadrop__menu">
         <div class="menu-megadrop__top full-width">
         <div class="menu-megadrop__top-container container">
         <div class="portlet-boundary portlet-boundary_com_liferay_journal_content_web_portlet_JournalContentPortlet_  portlet-static portlet-static-end portlet-barebone portlet-journal-content " id="p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_pelayologo_" >
            <span id="p_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_pelayologo"></span>
            <section class="portlet" id="portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_pelayologo">
               <div class="portlet-content">
                  <div class=" portlet-content-container" >
                     <div class="portlet-body">
                        <div class="text-right user-tool-asset-addon-entries">
                        </div>
                        <div class="pull-right visible-interaction">
                        </div>
                        <div class="journal-content-article">
                           <div class="menu-megadrop__logo"><a class="menu-megadrop__logo-link" href="https://www.pelayo.com" title="Ir a la página de inicio"><img alt="Logo de Pelayo Mutua de Seguros y Reaseguros, S.L. Ir a la página de inicio." class="menu-megadrop__logo-image" src="/documents/3939881/10877696/logo_blanco_144.png/5e0ba6ec-8a3d-6c13-2736-2f62c467ce64?t=1613120840834" /></a></div>
                        </div>
                        <div class="content-metadata-asset-addon-entries">
                        </div>
                        <script>Liferay.Analytics.track('view', { className: 'com.liferay.journal.model.JournalArticle', classPK: '10889160', referrers: [{referrerClassName: 'com.liferay.content.targeting.model.UserSegment', referrerClassPKs: ''}]});</script>
                     </div>
                  </div>
               </div>
            </section>
         </div>
         <nav class="menu-megadrop__main-nav menu-main-nav sort-pages modify-pages hiddenSearch" id="navigation" role="navigation">
            <div class="portlet-boundary portlet-boundary_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_  portlet-static portlet-static-end portlet-barebone portlet-navigation " id="p_p_id_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_INSTANCE_mainnavigation_" >
            <span id="p_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_INSTANCE_mainnavigation"></span>
            <section class="portlet" id="portlet_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_INSTANCE_mainnavigation">
               <div class="portlet-content">
               <div class=" portlet-content-container" >
               <div class="portlet-body">
               <ul class="menu-megadrop__nav" aria-label="Páginas del sitio web" role="menubar">
                  <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--first-level">
                     <button title="Ir a Seguros" type="button" 
                        class="menu-megadrop__nav-link menu-nav-link menu-nav-link--first-level menu-nav-link--first-level menu-megadrop__nav-link--first-level menu-button-clickable menu-button-first-level h4 noHover">
                     <span>Seguros</span>
                     </button>
                     <div class="menu-megadrop__second-level menu-megadrop__sub-level menu-sub-level">
                        <ul class="menu-megadrop__second-nav container">
                           <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                              <button type="button" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4">
                                 <figure>
                                    <img src="/image/layout_icon?img_id=376258972&t=1641892864278" alt="Coche">
                                 </figure>
                                 <span>Coche</span>
                              </button>
                              <div class="menu-megadrop__third-level menu-megadrop__sub-level menu-sub-level container">
                                 <div class="menu-megadrop__body-middle">
                                    <div class="menu-megadrop__third-nav-container">
                                       <ul class="menu-megadrop__third-nav">
                                          <li class="menu-megadrop__third-nav-item">
                                             <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                                                href="https://www.pelayo.com/seguros-coche"
                                                title="Ir a Seguros de coche"
                                                aria-labelledby="layout_20"  >
                                             Seguros de coche						
                                             </a>
                                          </li>
                                          <li class="menu-megadrop__third-nav-item">
                                             <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                                                href="https://www.pelayo.com/seguros-coche/terceros"
                                                title="Ir a Terceros"
                                                aria-labelledby="layout_22"  >
                                             Terceros						
                                             </a>
                                          </li>
                                          <li class="menu-megadrop__third-nav-item">
                                             <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                                                href="https://www.pelayo.com/seguros-coche/todo-riesgo"
                                                title="Ir a Todo Riesgo"
                                                aria-labelledby="layout_23"  >
                                             Todo Riesgo						
                                             </a>
                                          </li>
                                          <li class="menu-megadrop__third-nav-item">
                                             <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                                                href="https://www.pelayo.com/seguros-coche/comparativa"
                                                title="Ir a Comparador de seguros de coche"
                                                aria-labelledby="layout_24"  >
                                             Comparador de seguros de coche						
                                             </a>
                                          </li>
                                          <li class="menu-megadrop__third-nav-item">
                                             <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                                                href="https://www.pelayo.com/seguros-coche/preguntas-frecuentes"
                                                title="Ir a Preguntas frecuentes"
                                                aria-labelledby="layout_25"  >
                                             Preguntas frecuentes						
                                             </a>
                                          </li>
                                          <li class="menu-megadrop__third-nav-item">
                                             <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                                                href="https://www.pelayo.com/seguros-coche/clausula-1-24-72"
                                                title="Ir a Cláusula 1.24.72"
                                                aria-labelledby="layout_26"  >
                                             Cláusula 1.24.72						
                                             </a>
                                          </li>
                                       </ul>
                                    </div>
                                    <div class="menu-megadrop__featured-container full-width-mobile">
                                       <div class="portlet-boundary portlet-boundary_com_liferay_journal_content_web_portlet_JournalContentPortlet_  portlet-static portlet-static-end portlet-barebone portlet-journal-content " id="p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_12Side_" >
                                          <span id="p_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_12Side"></span>
                                          <section class="portlet" id="portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_12Side">
                                             <div class="portlet-content">
                                                <div class=" portlet-content-container" >
                                                   <div class="portlet-body">
                                                      <div class="text-right user-tool-asset-addon-entries">
                                                      </div>
                                                      <div class="pull-right visible-interaction">
                                                      </div>
                                                      <div class="journal-content-article">
                                                         <p class="menu-megadrop__featured-title">Extras destacados de seguro de coche</p>
                                                         <ul class="menu-megadrop__featured-list">
                                                            <li class="menu-megadrop__featured-list-item h5">Sustitución de tu vehículo en caso de accidente</li>
                                                            <li class="menu-megadrop__featured-list-item h5">Te enviamos un perito donde quiera que estés</li>
                                                            <li class="menu-megadrop__featured-list-item h5">Reclamación de 5 multas al año</li>
                                                         </ul>
                                                      </div>
                                                      <div class="content-metadata-asset-addon-entries">
                                                      </div>
                                                      <script>Liferay.Analytics.track('view', { className: 'com.liferay.journal.model.JournalArticle', classPK: '10883493', referrers: [{referrerClassName: 'com.liferay.content.targeting.model.UserSegment', referrerClassPKs: ''}]});</script>
                                                   </div>
                                                </div>
                                             </div>
                                          </section>
                                       </div>
                                    </div>
                                    <div class="menu-megadrop__body-bottom">
                                       <div class="portlet-boundary portlet-boundary_com_liferay_journal_content_web_portlet_JournalContentPortlet_  portlet-static portlet-static-end portlet-barebone portlet-journal-content " id="p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_12Bottom_" >
                                          <span id="p_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_12Bottom"></span>
                                          <section class="portlet" id="portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_12Bottom">
                                             <div class="portlet-content">
                                                <div class=" portlet-content-container" >
                                                   <div class="portlet-body">
                                                      <div class="text-right user-tool-asset-addon-entries">
                                                      </div>
                                                      <div class="pull-right visible-interaction">
                                                      </div>
                                                      <div class="journal-content-article">
                                                         <p class="menu-megadrop__bottom-title h2">Encuentra el seguro de coche perfecto</p>
                                                         <a class="button button--primary menu-megadrop__cta noHover" href="https://www.pelayo.com/calcular/seguros-coche/inicio" target="_blank" type="button">Calcula el precio</a>
                                                      </div>
                                                      <div class="content-metadata-asset-addon-entries">
                                                      </div>
                                                      <script>Liferay.Analytics.track('view', { className: 'com.liferay.journal.model.JournalArticle', classPK: '10883976', referrers: [{referrerClassName: 'com.liferay.content.targeting.model.UserSegment', referrerClassPKs: ''}]});</script>
                                                   </div>
                                                </div>
                                             </div>
                                          </section>
                                       </div>
                                    </div>
                                 </div>
                           </li>
                           <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                           <button type="button" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4">
                           <figure>
                           <img src="/image/layout_icon?img_id=376261909&t=1641892864410" alt="Moto">
                           </figure>
                           <span>Moto</span>
                           </button>
                           <div class="menu-megadrop__third-level menu-megadrop__sub-level menu-sub-level container">
                           <div class="menu-megadrop__body-middle">
                           <div class="menu-megadrop__third-nav-container">
                           <ul class="menu-megadrop__third-nav">
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-moto"
                              title="Ir a Seguros de moto"
                              aria-labelledby="layout_50"  >
                           Seguros de moto						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-moto/basico"
                              title="Ir a Terceros básico moto"
                              aria-labelledby="layout_51"  >
                           Terceros básico moto						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-moto/robo-incendio"
                              title="Ir a Terceros ampliado moto"
                              aria-labelledby="layout_52"  >
                           Terceros ampliado moto						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-moto/ciclomotores"
                              title="Ir a Seguro ciclomotor"
                              aria-labelledby="layout_53"  >
                           Seguro ciclomotor						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-moto/comparativa"
                              title="Ir a Comparador de seguros de Moto"
                              aria-labelledby="layout_55"  >
                           Comparador de seguros de Moto						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-moto/preguntas-frecuentes"
                              title="Ir a Preguntas frecuentes"
                              aria-labelledby="layout_56"  >
                           Preguntas frecuentes						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-moto/clausula-1-24-72"
                              title="Ir a Cláusula 1:24:72"
                              aria-labelledby="layout_57"  >
                           Cláusula 1:24:72						
                           </a>
                           </li>
                           </ul>
                           </div>
                           <div class="menu-megadrop__featured-container full-width-mobile">
                           <div class="portlet-boundary portlet-boundary_com_liferay_journal_content_web_portlet_JournalContentPortlet_  portlet-static portlet-static-end portlet-barebone portlet-journal-content " id="p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_13Side_" >
                           <span id="p_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_13Side"></span>
                           <section class="portlet" id="portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_13Side">
                           <div class="portlet-content">
                           <div class=" portlet-content-container" >
                           <div class="portlet-body">
                           <div class="text-right user-tool-asset-addon-entries">
                           </div>
                           <div class="pull-right visible-interaction">
                           </div>
                           <div class="journal-content-article">
                           <p class="menu-megadrop__featured-title">Extras de seguro de moto incluidos</p>
                           <ul class="menu-megadrop__featured-list">
                           <li class="menu-megadrop__featured-list-item h5">100% del&nbsp;valor de tu moto en caso de incendio o robo</li>
                           <li class="menu-megadrop__featured-list-item h5">Podrás elegir moto o coche como vehículo de sustitución</li>
                           <li class="menu-megadrop__featured-list-item h5">Hasta 300 euros de daños en casco y vestimenta</li>
                           </ul>
                           </div>
                           <div class="content-metadata-asset-addon-entries">
                           </div>
                           <script>Liferay.Analytics.track('view', { className: 'com.liferay.journal.model.JournalArticle', classPK: '10884011', referrers: [{referrerClassName: 'com.liferay.content.targeting.model.UserSegment', referrerClassPKs: ''}]});</script>
                           </div>
                           </div>
                           </div>
                           </section>
                           </div>
                           </div>	
                           <div class="menu-megadrop__body-bottom">
                           <div class="portlet-boundary portlet-boundary_com_liferay_journal_content_web_portlet_JournalContentPortlet_  portlet-static portlet-static-end portlet-barebone portlet-journal-content " id="p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_13Bottom_" >
                           <span id="p_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_13Bottom"></span>
                           <section class="portlet" id="portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_13Bottom">
                           <div class="portlet-content">
                           <div class=" portlet-content-container" >
                           <div class="portlet-body">
                           <div class="text-right user-tool-asset-addon-entries">
                           </div>
                           <div class="pull-right visible-interaction">
                           </div>
                           <div class="journal-content-article">
                           <p class="menu-megadrop__bottom-title h2">Encuentra el seguro de moto perfecto para ti</p>
                           <a class="button button--primary menu-megadrop__cta noHover" href="https://www.pelayo.com/calcular/seguros-moto/inicio" target="_blank" type="button">Calcula el precio</a>
                           </div>
                           <div class="content-metadata-asset-addon-entries">
                           </div>
                           <script>Liferay.Analytics.track('view', { className: 'com.liferay.journal.model.JournalArticle', classPK: '10883969', referrers: [{referrerClassName: 'com.liferay.content.targeting.model.UserSegment', referrerClassPKs: ''}]});</script>
                           </div>
                           </div>
                           </div>
                           </section>
                           </div>
                           </div>
                           </div>									
                           </li>
                           <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                           <button type="button" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4">
                           <figure>
                           <img src="/image/layout_icon?img_id=376262228&t=1641892864537" alt="Hogar">
                           </figure>
                           <span>Hogar</span>
                           </button>
                           <div class="menu-megadrop__third-level menu-megadrop__sub-level menu-sub-level container">
                           <div class="menu-megadrop__body-middle">
                           <div class="menu-megadrop__third-nav-container">
                           <ul class="menu-megadrop__third-nav">
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-hogar"
                              title="Ir a Seguros de Hogar"
                              aria-labelledby="layout_70"  >
                           Seguros de Hogar						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-hogar/vivienda-habitual"
                              title="Ir a Vivienda habitual"
                              aria-labelledby="layout_71"  >
                           Vivienda habitual						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-hogar/segunda-vivienda"
                              title="Ir a Segunda vivienda"
                              aria-labelledby="layout_72"  >
                           Segunda vivienda						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-hogar/vivienda-en-alquiler"
                              title="Ir a Vivienda para alquilar"
                              aria-labelledby="layout_73"  >
                           Vivienda para alquilar						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-hogar/inquilinos"
                              title="Ir a Vivienda alquilada"
                              aria-labelledby="layout_74"  >
                           Vivienda alquilada						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-hogar/comparativa"
                              title="Ir a Comparador de seguros de Hogar"
                              aria-labelledby="layout_76"  >
                           Comparador de seguros de Hogar						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-hogar/preguntas-frecuentes"
                              title="Ir a Preguntas frecuentes"
                              aria-labelledby="layout_77"  >
                           Preguntas frecuentes						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-hogar/compromiso-a-tiempo"
                              title="Ir a Compromiso A Tiempo"
                              aria-labelledby="layout_78"  >
                           Compromiso A Tiempo						
                           </a>
                           </li>
                           </ul>
                           </div>
                           <div class="menu-megadrop__featured-container full-width-mobile">
                           <div class="portlet-boundary portlet-boundary_com_liferay_journal_content_web_portlet_JournalContentPortlet_  portlet-static portlet-static-end portlet-barebone portlet-journal-content " id="p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_14Side_" >
                           <span id="p_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_14Side"></span>
                           <section class="portlet" id="portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_14Side">
                           <div class="portlet-content">
                           <div class=" portlet-content-container" >
                           <div class="portlet-body">
                           <div class="text-right user-tool-asset-addon-entries">
                           </div>
                           <div class="pull-right visible-interaction">
                           </div>
                           <div class="journal-content-article">
                           <p class="menu-megadrop__featured-title">Extras destacados incluidos</p>
                           <ul class="menu-megadrop__featured-list">
                           <li class="menu-megadrop__featured-list-item h5">Asistencia en menos de 3 horas para urgencias</li>
                           <li class="menu-megadrop__featured-list-item h5">Servicio de Manitas para pequeñas reparaciones</li>
                           <li class="menu-megadrop__featured-list-item h5">Asistencia veterinaria para tus mascotas</li>
                           </ul>
                           </div>
                           <div class="content-metadata-asset-addon-entries">
                           </div>
                           <script>Liferay.Analytics.track('view', { className: 'com.liferay.journal.model.JournalArticle', classPK: '10884641', referrers: [{referrerClassName: 'com.liferay.content.targeting.model.UserSegment', referrerClassPKs: ''}]});</script>
                           </div>
                           </div>
                           </div>
                           </section>
                           </div>
                           </div>	
                           <div class="menu-megadrop__body-bottom">
                           <div class="portlet-boundary portlet-boundary_com_liferay_journal_content_web_portlet_JournalContentPortlet_  portlet-static portlet-static-end portlet-barebone portlet-journal-content " id="p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_14Bottom_" >
                           <span id="p_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_14Bottom"></span>
                           <section class="portlet" id="portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_14Bottom">
                           <div class="portlet-content">
                           <div class=" portlet-content-container" >
                           <div class="portlet-body">
                           <div class="text-right user-tool-asset-addon-entries">
                           </div>
                           <div class="pull-right visible-interaction">
                           </div>
                           <div class="journal-content-article">
                           <p class="menu-megadrop__bottom-title h2">Encuentra el seguro de hogar perfecto para ti</p>
                           <a class="button button--primary menu-megadrop__cta noHover" href="https://www.pelayo.com/calcular/seguros-hogar/inicio" target="_blank" type="button">Calcula el precio</a>
                           </div>
                           <div class="content-metadata-asset-addon-entries">
                           </div>
                           <script>Liferay.Analytics.track('view', { className: 'com.liferay.journal.model.JournalArticle', classPK: '10884697', referrers: [{referrerClassName: 'com.liferay.content.targeting.model.UserSegment', referrerClassPKs: ''}]});</script>
                           </div>
                           </div>
                           </div>
                           </section>
                           </div>
                           </div>
                           </div>									
                           </li>
                           <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                           <button type="button" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4">
                           <figure>
                           <img src="/image/layout_icon?img_id=376262665&t=1641892864680" alt="Vida">
                           </figure>
                           <span>Vida</span>
                           </button>
                           <div class="menu-megadrop__third-level menu-megadrop__sub-level menu-sub-level container">
                           <div class="menu-megadrop__body-middle">
                           <div class="menu-megadrop__third-nav-container">
                           <ul class="menu-megadrop__third-nav">
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-vida"
                              title="Ir a Seguros de vida"
                              aria-labelledby="layout_110"  >
                           Seguros de vida						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-vida/planes-pensiones"
                              title="Ir a Planes de pensiones"
                              aria-labelledby="layout_114"  >
                           Planes de pensiones						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-vida/planes-ahorro-inversion"
                              title="Ir a Planes de ahorro e inversión"
                              aria-labelledby="layout_115"  >
                           Planes de ahorro e inversión						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-vida/mujer"
                              title="Ir a VidaMujer"
                              aria-labelledby="layout_288"  >
                           VidaMujer						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-vida/preguntas-frecuentes"
                              title="Ir a Preguntas frecuentes"
                              aria-labelledby="layout_117"  >
                           Preguntas frecuentes						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-vida/magazine-digital"
                              title="Ir a Magazine digital"
                              aria-labelledby="layout_249"  >
                           Magazine digital						
                           </a>
                           </li>
                           </ul>
                           </div>
                           <div class="menu-megadrop__featured-container full-width-mobile">
                           <div class="portlet-boundary portlet-boundary_com_liferay_journal_content_web_portlet_JournalContentPortlet_  portlet-static portlet-static-end portlet-barebone portlet-journal-content " id="p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_15Side_" >
                           <span id="p_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_15Side"></span>
                           <section class="portlet" id="portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_15Side">
                           <div class="portlet-content">
                           <div class=" portlet-content-container" >
                           <div class="portlet-body">
                           <div class="text-right user-tool-asset-addon-entries">
                           </div>
                           <div class="pull-right visible-interaction">
                           </div>
                           <div class="journal-content-article">
                           <p class="menu-megadrop__featured-title">Extras destacados opcionales</p>
                           <ul>
                           <li class="menu-megadrop__featured-list-item h5">Recibirás un capital en caso de accidente cerebrovascular</li>
                           <li class="menu-megadrop__featured-list-item h5">Cubrimos el cáncer de próstata y el infarto de miocardio</li>
                           <li class="menu-megadrop__featured-list-item h5">Cubrimos la detección del cáncer de mama</li>
                           </ul>
                           </div>
                           <div class="content-metadata-asset-addon-entries">
                           </div>
                           <script>Liferay.Analytics.track('view', { className: 'com.liferay.journal.model.JournalArticle', classPK: '10885852', referrers: [{referrerClassName: 'com.liferay.content.targeting.model.UserSegment', referrerClassPKs: ''}]});</script>
                           </div>
                           </div>
                           </div>
                           </section>
                           </div>
                           </div>	
                           <div class="menu-megadrop__body-bottom">
                           <div class="portlet-boundary portlet-boundary_com_liferay_journal_content_web_portlet_JournalContentPortlet_  portlet-static portlet-static-end portlet-barebone portlet-journal-content " id="p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_15Bottom_" >
                           <span id="p_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_15Bottom"></span>
                           <section class="portlet" id="portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_15Bottom">
                           <div class="portlet-content">
                           <div class=" portlet-content-container" >
                           <div class="portlet-body">
                           <div class="text-right user-tool-asset-addon-entries">
                           </div>
                           <div class="pull-right visible-interaction">
                           </div>
                           <div class="journal-content-article">
                           <p class="menu-megadrop__bottom-title h2">Encuentra el seguro de vida o tu plan de pensiones&nbsp;perfecto para ti</p>
                           <a class="button button--primary menu-megadrop__cta noHover" href="https://www.pelayo.com/nosotros_te_llamamos/tellamamos" target="_blank" type="button">Te llamamos</a>
                           </div>
                           <div class="content-metadata-asset-addon-entries">
                           </div>
                           <script>Liferay.Analytics.track('view', { className: 'com.liferay.journal.model.JournalArticle', classPK: '39950350', referrers: [{referrerClassName: 'com.liferay.content.targeting.model.UserSegment', referrerClassPKs: ''}]});</script>
                           </div>
                           </div>
                           </div>
                           </section>
                           </div>
                           </div>
                           </div>									
                           </li>
                           <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                           <button type="button" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4">
                           <figure>
                           <img src="/image/layout_icon?img_id=376263384&t=1641892864822" alt="Salud">
                           </figure>
                           <span>Salud</span>
                           </button>
                           <div class="menu-megadrop__third-level menu-megadrop__sub-level menu-sub-level container">
                           <div class="menu-megadrop__body-middle">
                           <div class="menu-megadrop__third-nav-container">
                           <ul class="menu-megadrop__third-nav">
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-salud"
                              title="Ir a Seguros de Salud"
                              aria-labelledby="layout_131"  >
                           Seguros de Salud						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-salud/salud-plus"
                              title="Ir a Salud Plus"
                              aria-labelledby="layout_132"  >
                           Salud Plus						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-salud/salud-premium"
                              title="Ir a Salud Premium"
                              aria-labelledby="layout_133"  >
                           Salud Premium						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-salud/integral-100000"
                              title="Ir a Integral 100.000"
                              aria-labelledby="layout_134"  >
                           Integral 100.000						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-salud/seguro-dental"
                              title="Ir a Seguro dental"
                              aria-labelledby="layout_136"  >
                           Seguro dental						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/seguros-salud/preguntas-frecuentes"
                              title="Ir a Preguntas frecuentes"
                              aria-labelledby="layout_138"  >
                           Preguntas frecuentes						
                           </a>
                           </li>
                           </ul>
                           </div>
                           <div class="menu-megadrop__featured-container full-width-mobile">
                           <div class="portlet-boundary portlet-boundary_com_liferay_journal_content_web_portlet_JournalContentPortlet_  portlet-static portlet-static-end portlet-barebone portlet-journal-content " id="p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_16Side_" >
                           <span id="p_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_16Side"></span>
                           <section class="portlet" id="portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_16Side">
                           <div class="portlet-content">
                           <div class=" portlet-content-container" >
                           <div class="portlet-body">
                           <div class="text-right user-tool-asset-addon-entries">
                           </div>
                           <div class="pull-right visible-interaction">
                           </div>
                           <div class="journal-content-article">
                           <p class="menu-megadrop__featured-title">Extras destacados seguro de salud</p>
                           <ul class="menu-megadrop__featured-list">
                           <li class="menu-megadrop__featured-list-item h5">Más de 40.000 profesionales</li>
                           <li class="menu-megadrop__featured-list-item h5">1.000 centros médicos</li>
                           <li class="menu-megadrop__featured-list-item h5">Líneas médicas 24 horas</li>
                           </ul>
                           </div>
                           <div class="content-metadata-asset-addon-entries">
                           </div>
                           <script>Liferay.Analytics.track('view', { className: 'com.liferay.journal.model.JournalArticle', classPK: '10886649', referrers: [{referrerClassName: 'com.liferay.content.targeting.model.UserSegment', referrerClassPKs: ''}]});</script>
                           </div>
                           </div>
                           </div>
                           </section>
                           </div>
                           </div>	
                           <div class="menu-megadrop__body-bottom">
                           <div class="portlet-boundary portlet-boundary_com_liferay_journal_content_web_portlet_JournalContentPortlet_  portlet-static portlet-static-end portlet-barebone portlet-journal-content " id="p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_16Bottom_" >
                           <span id="p_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_16Bottom"></span>
                           <section class="portlet" id="portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_16Bottom">
                           <div class="portlet-content">
                           <div class=" portlet-content-container" >
                           <div class="portlet-body">
                           <div class="text-right user-tool-asset-addon-entries">
                           </div>
                           <div class="pull-right visible-interaction">
                           </div>
                           <div class="journal-content-article">
                           <p class="menu-megadrop__bottom-title h2">Contrata tu seguro de salud al mejor precio en cualquiera de nuestras oficinas</p>
                           <a class="button button--primary menu-megadrop__cta noHover" href="https://www.pelayo.com/oficinas-seguros" target="_blank" type="button">Busca tu oficina Pelayo</a>
                           </div>
                           <div class="content-metadata-asset-addon-entries">
                           </div>
                           <script>Liferay.Analytics.track('view', { className: 'com.liferay.journal.model.JournalArticle', classPK: '41409521', referrers: [{referrerClassName: 'com.liferay.content.targeting.model.UserSegment', referrerClassPKs: ''}]});</script>
                           </div>
                           </div>
                           </div>
                           </section>
                           </div>
                           </div>
                           </div>									
                           </li>
                           <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                           <button type="button" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4">
                           <figure>
                           <img src="/image/layout_icon?img_id=377675980&t=1641892864927" alt="Otros seguros">
                           </figure>
                           <span>Otros seguros</span>
                           </button>
                           <div class="menu-megadrop__third-level menu-megadrop__sub-level menu-sub-level container">
                           <div class="menu-megadrop__body-middle">
                           <div class="menu-megadrop__third-nav-container">
                           <ul class="menu-megadrop__third-nav">
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/otros-seguros/seguros-accidentes"
                              title="Ir a Accidentes"
                              aria-labelledby="layout_146"  >
                           Accidentes						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/otros-seguros/comercio-oficinas"
                              title="Ir a Comercio y oficinas"
                              aria-labelledby="layout_147"  >
                           Comercio y oficinas						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/otros-seguros/comunidades"
                              title="Ir a Comunidades"
                              aria-labelledby="layout_148"  >
                           Comunidades						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/otros-seguros/caza-pesca"
                              title="Ir a Caza y pesca"
                              aria-labelledby="layout_149"  >
                           Caza y pesca						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/otros-seguros/animales-domesticos"
                              title="Ir a Animales domésticos"
                              aria-labelledby="layout_150"  >
                           Animales domésticos						
                           </a>
                           </li>
                           <li class="menu-megadrop__third-nav-item">
                           <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                              href="https://www.pelayo.com/otros-seguros/decesos"
                              title="Ir a Decesos"
                              aria-labelledby="layout_332"  >
                           Decesos						
                           </a>
                           </li>
                           </ul>
                           </div>
                           <div class="menu-megadrop__featured-container full-width-mobile">
                           <div class="portlet-boundary portlet-boundary_com_liferay_journal_content_web_portlet_JournalContentPortlet_  portlet-static portlet-static-end portlet-barebone portlet-journal-content " id="p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_17Side_" >
                           <span id="p_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_17Side"></span>
                           <section class="portlet" id="portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_17Side">
                           <div class="portlet-content">
                           <div class=" portlet-content-container" >
                           <div class="portlet-body">
                           <div class="text-right user-tool-asset-addon-entries">
                           </div>
                           <div class="pull-right visible-interaction">
                           </div>
                           <div class="journal-content-article">
                           <p class="menu-megadrop__featured-title">Vive tranquilo con nuestro amplio catálogo de seguros</p>
                           <ul class="menu-megadrop__featured-list">
                           <li class="menu-megadrop__featured-list-item h5">Seguros de todos los ramos que puedas necesitar</li>
                           <li class="menu-megadrop__featured-list-item h5">Contrátalos en cualquiera de nuestras oficinas</li>
                           <li class="menu-megadrop__featured-list-item h5">Con el Compromiso Pelayo</li>
                           </ul>
                           </div>
                           <div class="content-metadata-asset-addon-entries">
                           </div>
                           <script>Liferay.Analytics.track('view', { className: 'com.liferay.journal.model.JournalArticle', classPK: '10887223', referrers: [{referrerClassName: 'com.liferay.content.targeting.model.UserSegment', referrerClassPKs: ''}]});</script>
                           </div>
                           </div>
                           </div>
                           </section>
                           </div>
                           </div>	
                           <div class="menu-megadrop__body-bottom">
                           </div>
                           </div>									
                           </li>
                        </ul>
                        </div>
                  </li>
                  <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--first-level">
                  <button title="Ir a Servicios para clientes" type="button" 
                     class="menu-megadrop__nav-link menu-nav-link menu-nav-link--first-level menu-nav-link--first-level menu-megadrop__nav-link--first-level menu-button-clickable menu-button-first-level h4 noHover">
                  <span>Servicios para clientes</span>
                  </button>
                  <div class="menu-megadrop__second-level menu-megadrop__sub-level menu-sub-level">
                  <ul class="menu-megadrop__second-nav container">
                  <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                  <button type="button" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4">
                  <figure>
                  <img src="/image/layout_icon?img_id=376270918&t=1641892865043" alt="Accidentes y asistencia">
                  </figure>
                  <span>Accidentes y asistencia</span>
                  </button>
                  <div class="menu-megadrop__third-level menu-megadrop__sub-level menu-sub-level container">
                  <div class="menu-megadrop__body-middle">
                  <div class="menu-megadrop__third-nav-container">
                  <ul class="menu-megadrop__third-nav">
                  <li class="menu-megadrop__third-nav-item">
                  <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                     href="https://www.pelayo.com/servicios-clientes/coches-motos"
                     title="Ir a Coches y motos"
                     aria-labelledby="layout_166"  >
                  Coches y motos						
                  </a>
                  </li>
                  <li class="menu-megadrop__third-nav-item">
                  <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                     href="https://www.pelayo.com/servicios-clientes/hogar"
                     title="Ir a Hogar"
                     aria-labelledby="layout_167"  >
                  Hogar						
                  </a>
                  </li>
                  <li class="menu-megadrop__third-nav-item">
                  <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                     href="https://www.pelayo.com/servicios-clientes/resto-de-seguros"
                     title="Ir a Resto de seguros"
                     aria-labelledby="layout_168"  >
                  Resto de seguros						
                  </a>
                  </li>
                  </ul>
                  </div>
                  <div class="menu-megadrop__featured-container full-width-mobile">
                  <div class="portlet-boundary portlet-boundary_com_liferay_journal_content_web_portlet_JournalContentPortlet_  portlet-static portlet-static-end portlet-barebone portlet-journal-content " id="p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_160Side_" >
                  <span id="p_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_160Side"></span>
                  <section class="portlet" id="portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_160Side">
                  <div class="portlet-content">
                  <div class=" portlet-content-container" >
                  <div class="portlet-body">
                  <div class="text-right user-tool-asset-addon-entries">
                  </div>
                  <div class="pull-right visible-interaction">
                  </div>
                  <div class="journal-content-article">
                  <p class="menu-megadrop__featured-title">No nos asusta el compromiso</p>
                  <ul class="menu-megadrop__featured-list">
                  <li class="menu-megadrop__featured-list-item h5">Grúa en 1 hora</li>
                  <li class="menu-megadrop__featured-list-item h5">Servicios urgentes en el hogar en menos de 3 horas.</li>
                  <li class="menu-megadrop__featured-list-item h5">Asistencia 24 horas: <strong>91 520 05&nbsp;00</strong></li>
                  </ul>
                  </div>
                  <div class="content-metadata-asset-addon-entries">
                  </div>
                  <script>Liferay.Analytics.track('view', { className: 'com.liferay.journal.model.JournalArticle', classPK: '10887907', referrers: [{referrerClassName: 'com.liferay.content.targeting.model.UserSegment', referrerClassPKs: ''}]});</script>
                  </div>
                  </div>
                  </div>
                  </section>
                  </div>
                  </div>	
                  <div class="menu-megadrop__body-bottom">
                  </div>
                  </div>									
                  </li>
                  <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                  <a data-senna-off="true" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4" 
                     href="https://www.pelayo.com/oficinas-seguros"
                     title="Ir a Buscador de oficinas"
                     aria-labelledby="layout_161"  >
                  <figure>
                  <img src="/image/layout_icon?img_id=376271014&t=1641892865124" alt="Buscador de oficinas">
                  </figure>
                  <span>Buscador de oficinas</span>						
                  </a>
                  </li>
                  <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                  <a data-senna-off="true" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4" 
                     href="https://www.pelayo.com/buscador-talleres"
                     title="Ir a Buscador de talleres"
                     aria-labelledby="layout_162"  >
                  <figure>
                  <img src="/image/layout_icon?img_id=376274053&t=1641892865129" alt="Buscador de talleres">
                  </figure>
                  <span>Buscador de talleres</span>						
                  </a>
                  </li>
                  <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                  <a data-senna-off="true" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4" 
                     href="https://www.pelayo.com/cuenta-seguros-pelayo"
                     title="Ir a Cuenta de Seguros Pelayo"
                     aria-labelledby="layout_163"  >
                  <figure>
                  <img src="/image/layout_icon?img_id=376273639&t=1641892865131" alt="Cuenta de Seguros Pelayo">
                  </figure>
                  <span>Cuenta de Seguros Pelayo</span>						
                  </a>
                  </li>
                  <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                  <button type="button" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4">
                  <figure>
                  <img src="/image/layout_icon?img_id=376271439&t=1641892865134" alt="Gestion de tu seguro">
                  </figure>
                  <span>Gestion de tu seguro</span>
                  </button>
                  <div class="menu-megadrop__third-level menu-megadrop__sub-level menu-sub-level container">
                  <div class="menu-megadrop__body-middle">
                  <div class="menu-megadrop__third-nav-container">
                  <ul class="menu-megadrop__third-nav">
                  <li class="menu-megadrop__third-nav-item">
                  <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                     href="https://www.pelayo.com/servicios-clientes/cambio-datos"
                     title="Ir a Cambio de datos"
                     aria-labelledby="layout_169"  >
                  Cambio de datos						
                  </a>
                  </li>
                  <li class="menu-megadrop__third-nav-item">
                  <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                     href="https://www.pelayo.com/servicios-clientes/renovacion"
                     title="Ir a Renovación"
                     aria-labelledby="layout_170"  >
                  Renovación						
                  </a>
                  </li>
                  <li class="menu-megadrop__third-nav-item">
                  <a class="menu-megadrop__nav-link menu-nav-link menu-nav-link--third-level menu-megadrop__nav-link--third-level h3" 
                     href="https://www.pelayo.com/servicios-clientes/duplicados"
                     title="Ir a Duplicados"
                     aria-labelledby="layout_171"  >
                  Duplicados						
                  </a>
                  </li>
                  </ul>
                  </div>
                  <div class="menu-megadrop__featured-container full-width-mobile">
                  <div class="portlet-boundary portlet-boundary_com_liferay_journal_content_web_portlet_JournalContentPortlet_  portlet-static portlet-static-end portlet-barebone portlet-journal-content " id="p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_164Side_" >
                  <span id="p_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_164Side"></span>
                  <section class="portlet" id="portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_164Side">
                  <div class="portlet-content">
                  <div class=" portlet-content-container" >
                  <div class="portlet-body">
                  <div class="text-right user-tool-asset-addon-entries">
                  </div>
                  <div class="pull-right visible-interaction">
                  </div>
                  <div class="journal-content-article">
                  <p class="menu-megadrop__featured-title">Gestiona tu seguro</p>
                  <ul class="menu-megadrop__featured-list">
                  <li class="menu-megadrop__featured-list-item h5">En cualquiera de <a href="https://www.pelayo.com/oficinas-seguros" target="_blank">nuestras oficinas</a></li>
                  <li class="menu-megadrop__featured-list-item h5"><a href="https://www.pelayo.com/login" target="_blank">En la Oficina de Internet</a></li>
                  <li class="menu-megadrop__featured-list-item h5">En nuestro centro de atención telefónica:&nbsp;<strong>91 520 05 61</strong></li>
                  </ul>
                  </div>
                  <div class="content-metadata-asset-addon-entries">
                  </div>
                  <script>Liferay.Analytics.track('view', { className: 'com.liferay.journal.model.JournalArticle', classPK: '10887977', referrers: [{referrerClassName: 'com.liferay.content.targeting.model.UserSegment', referrerClassPKs: ''}]});</script>
                  </div>
                  </div>
                  </div>
                  </section>
                  </div>
                  </div>	
                  <div class="menu-megadrop__body-bottom">
                  </div>
                  </div>									
                  </li>
                  <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                  <a data-senna-off="true" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4" 
                     href="https://www.pelayo.com/servicios-clientes/contacto"
                     title="Ir a Contacta con nosotros"
                     aria-labelledby="layout_165"  >
                  <figure>
                  <img src="/image/layout_icon?img_id=376273734&t=1641892865228" alt="Contacta con nosotros">
                  </figure>
                  <span>Contacta con nosotros</span>						
                  </a>
                  </li>
                  </ul>
                  </div>
                  </li>
                  <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--first-level">
                  <button title="Ir a Sobre nosotros" type="button" 
                     class="menu-megadrop__nav-link menu-nav-link menu-nav-link--first-level menu-nav-link--first-level menu-megadrop__nav-link--first-level menu-button-clickable menu-button-first-level h4 noHover">
                  <span>Sobre nosotros</span>
                  </button>
                  <div class="menu-megadrop__second-level menu-megadrop__sub-level menu-sub-level">
                  <ul class="menu-megadrop__second-nav container">
                  <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                  <a data-senna-off="true" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4" 
                     href="https://www.pelayo.com/sobre-nosotros/quien-somos"
                     title="Ir a ¿Qué es Pelayo?"
                     aria-labelledby="layout_172"  >
                  <figure>
                  <img src="/image/layout_icon?img_id=377676518&t=1641892865254" alt="¿Qué es Pelayo?">
                  </figure>
                  <span>¿Qué es Pelayo?</span>						
                  </a>
                  </li>
                  <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                  <a data-senna-off="true" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4" 
                     href="https://www.grupopelayo.com"
                     title="Ir a Información corporativa"
                     aria-labelledby="layout_173"  >
                  <figure>
                  <img src="/image/layout_icon?img_id=376278833&t=1641892865256" alt="Información corporativa">
                  </figure>
                  <span>Información corporativa</span>						
                  </a>
                  </li>
                  <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                  <a data-senna-off="true" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4" 
                     href="https://www.grupopelayo.com/compromiso-social/fundacion-pelayo"
                     title="Ir a Fundación Pelayo"
                     aria-labelledby="layout_174"  >
                  <figure>
                  <img src="/image/layout_icon?img_id=376279001&t=1641892865264" alt="Fundación Pelayo">
                  </figure>
                  <span>Fundación Pelayo</span>						
                  </a>
                  </li>
                  <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                  <a data-senna-off="true" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4" 
                     href="https://www.pelayo.com/promociones"
                     title="Ir a Promociones en Pelayo"
                     aria-labelledby="layout_175"  >
                  <figure>
                  <img src="/image/layout_icon?img_id=377676904&t=1641892865267" alt="Promociones en Pelayo">
                  </figure>
                  <span>Promociones en Pelayo</span>						
                  </a>
                  </li>
                  <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                  <a data-senna-off="true" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4" 
                     href="https://www.grupopelayo.com/patrocinios/seleccion-espanola-futbol"
                     title="Ir a Patrocinio de La Roja"
                     aria-labelledby="layout_176"  >
                  <figure>
                  <img src="/image/layout_icon?img_id=376279049&t=1641892865284" alt="Patrocinio de La Roja">
                  </figure>
                  <span>Patrocinio de La Roja</span>						
                  </a>
                  </li>
                  <li class="menu-megadrop__nav-item menu-nav-item menu-megadrop__nav-item--second-level">
                  <a data-senna-off="true" class="menu-megadrop__nav-link menu-megadrop__nav-link--second-level h4" 
                     href="https://www.grupopelayo.com/contacto/trabaja-con-nosotros"
                     title="Ir a Trabaja con nosotros"
                     aria-labelledby="layout_177"  >
                  <figure>
                  <img src="/image/layout_icon?img_id=376279207&t=1641892865285" alt="Trabaja con nosotros">
                  </figure>
                  <span>Trabaja con nosotros</span>						
                  </a>
                  </li>
                  </ul>
                  </div>
                  </li>
               </ul>
               </div>
               </div>
               </div>
            </section>
            </div>
         </nav>
         <button type="submit" class="menu-megadrop__search h4 menu-search hidden" aria-label="abrir / cerrar busqueda">
         <span class="icon-s icon-search menu-megadrop__search-icon menu-search-icon" aria-label="Buscar"></span>
         <span class="icon-s icon-cross menu-megadrop__cross-icon--search menu__cross-icon--search menu-search-cross" aria-label="Cerrar Busqueda"></span>
         </button>
         </div>
         </div>
         </div>
         <div class="menu-megadrop__search-background full-width menu-search-background hidden">
         <div class="menu-megadrop__search-container">
         <div class="portlet-boundary portlet-boundary_com_vass_pelayo_searcher_PelayoSearcherPorlet_  portlet-static portlet-static-end portlet-barebone  " id="p_p_id_com_vass_pelayo_searcher_PelayoSearcherPorlet_" >
         <span id="p_com_vass_pelayo_searcher_PelayoSearcherPorlet"></span>
         <section class="portlet" id="portlet_com_vass_pelayo_searcher_PelayoSearcherPorlet">
         <div class="portlet-content">
         <div class=" portlet-content-container" >
         <div class="portlet-body">
         <form action="https://www.pelayo.com/buscador/resultado" method="post" name="fm" data-novalidate>
         <fieldset>
         <input name="p_p_id" type="hidden" value="com_liferay_portal_search_web_portlet_SearchPortlet" /><input name="p_p_lifecycle" type="hidden" value="0" /><input name="p_p_state" type="hidden" value="normal" /><input name="p_p_mode" type="hidden" value="view" /><input name="_com_liferay_portal_search_web_portlet_SearchPortlet_mvcPath" type="hidden" value="&#x2f;search&#x2e;jsp" />
         <label class="menu-megadrop__search-label" for="_com_vass_pelayo_searcher_PelayoSearcherPorlet__search-input-header">Buscar...</label>
         <input id="_com_vass_pelayo_searcher_PelayoSearcherPorlet__search-input-header" name="_com_liferay_portal_search_web_portlet_SearchPortlet_keywords" 
            placeholder="Buscar..."  aria-placeholder="Buscar..." class="menu-megadrop__search-input" type="text" value="" />
         <button type="submit" class="hidden">Buscar</button>
         </fieldset>
         </form>   
         </div>
         </div>
         </div>
         </section>
         </div>
         </div>
         </div>
         <div class="menu-backdrop menu-backdrop--show"></div>
      </header>